.TopHeader
  .TopHeader__Inner
    .TopHeader__Inner__Main
      .TopIcon
        -# aタグにスタイルを設定すると他のビューに影響が出そうなのでTopImgLinkクラスを設定
        = link_to image_tag("logo.png", alt: "furima", class: "TopImgLink"), root_path
      .SearchForm
        = form_with url: "#", method: :get, local: true do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "SearchForm__Input"
          = button_tag type: 'submit', class: 'SearchForm__Input__Button' do
            -# aタグにスタイルを設定すると他のビューに影響が出そうなのでSearchForm__Input__Button__Iconクラスを設定
            = link_to image_tag('icon-search.png', alt: 'search', class: 'SearchForm__Input__Button__Icon'), "#"

    .TopHeader__Inner__Lists
      .TopHeader__Inner__Lists__Left
        .TopHeader__Inner__Lists__Left__Category
          -# aタグにスタイルを設定すると他のビューに影響が出そうなのでTopLinkクラスを設定
          = link_to "#", {class: "TopLink LeftColor"} do
            カテゴリー
        .TopHeader__Inner__Lists__Left__Brand
          = link_to "#", {class: "TopLink LeftColor"} do
            ブランド
      .TopHeader__Inner__Lists__Right
        .TopHeader__Inner__Lists__Right__Signin
          = link_to "#", {class: "TopLink"} do
            ログイン
        .TopHeader__Inner__Lists__Right__Signup
          = link_to "#", {class: "TopLink"} do
            新規会員登録