= render "share/header"
.FormContent
  .FormContent__Box
    .FormContent__Box__Title
      クレジットカード情報
    .FormContent__Box__Number
    %i クレジットカード番号
    = "**** **** **** " + @default_card_information.last4
    %br
    %br
    %br
    %i 有効期限
    %br
    - exp_month = @default_card_information.exp_month.to_s
    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
    = exp_month + " / " + exp_year
    = form_tag(credit_card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
      %input{ type: "hidden", name: "card_id", value: "" }
      %button.DeleteBtn 削除する
= render "share/footer"    