= render "share/header"
.MyPageContent
  .MyPageContent__CenteringBox
    .MyPageContent__CenteringBox__LeftSidelist
      .MyPageContent__CenteringBox__LeftSidelist__MyPageNav
        .MyPageContent__CenteringBox__LeftSidelist__MyPageNav__ContentTitle
          = link_to('ログアウト', "/")
        .MyPageContent__CenteringBox__LeftSidelist__MyPageNav__ContentTitle
          = link_to('', "/")
        .MyPageContent__CenteringBox__LeftSidelist__MyPageNav__ContentTitle
          = link_to('option+shift+下で行複製', "/")
    .MyPageContent__CenteringBox__MainContent
      .MyPageContent__CenteringBox__MainContent__UserIcon
        .MyPageContent__CenteringBox__MainContent__UserIcon__UserText
          =link_to "#", class: "" do
            USER NAME
        .MyPageContent__CenteringBox__MainContent__UserIcon__Box
          .MyPageContent__CenteringBox__MainContent__UserIcon__Box__Evaluation
            評価  0
          .MyPageContent__CenteringBox__MainContent__UserIcon__Box__Products
            出品数  0
      %h4.ProfileTileText
      クレジット登録・変更

= render "share/footer"