%body
  .HeaderSignin
    =link_to '#',class: "HeaderSignin__Logo" do
      =image_tag 'logo.png'
  .ContentSignin
    .ContentSignin__Upper
      .ContentSignin__Upper__Area
        %p.ContentSignin__Upper__Area--Text
          アカウントをお持ちでない方はこちら
        .ContentSignin__Upper__Area__Signup
          =link_to "#", class: "ContentSignin__Upper__Area__Signup--Btn" do
            新規会員登録
    .ContentSignin__Under
      .ContentSignin__Under__BtnArea
        =link_to "#", class: "ContentSignin__Under__BtnArea--Facebook" do
          =icon('fab','facebook-square')
          Facebookでログイン
        =link_to "#", class: "ContentSignin__Under__BtnArea--Google" do
          =icon('fab','google')
          Googleでログイン
      .ContentSignin__Under__Form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "ContentSignin__Under__Form__Field"
          = f.password_field :password, autocomplete: "current-password", class: "ContentSignin__Under__Form__Field"
          
          = f.submit "ログイン", class: "ContentSignin__Under__Form__Action"
        .ContentSignin__Under__Form--ForgetPW
          = link_to "パスワードをお忘れの方", new_password_path(resource_name)
  .FooterSignin
    .FooterSignin__Infomation
      %ul
        %li
          =link_to "#" do
            プライバシーポリシー
        %li
          =link_to "#" do
            メルカリ利用規約
        %li
          =link_to "#" do
            特定商取引に関する表記
    .FooterSignin__logo

