.SellingPageBody
  = render "devise/shared/devise_header"
  .SellPage
    .SellPage__Information
      = form_with(model: @item, local: true) do |f|
        .SellPage__Information__Box
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              出品画像
            .SellPage__Information__Box__Inner__SellBox
              必須
            .Max
              最大10枚までアップロードできます
            .Upload
              = f.file_field :image, style: "display:none;"
              = image_tag 'photo.png', alt: 'camera', class: "Upload__Image"
              <br>ドラッグアンドドロップ<br>
              またはクリックしてファイルをアップロード
                
        .SellPage__Information__Box
          .SellPage__Information__Box__Inner.InnerOption
            .SellPage__Information__Box__Inner__SellText
              商品名
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.text_field :product_name, placeholder: "40文字まで", class: "SellPage__Information__Box__Inner__Form"
          
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              商品の説明
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.text_area :description, maxlength: 1000, class: "SellPage__Information__Box__Inner__Form TextareaOption", placeholder: '商品の説明（必須 1000文字以内）'

        .SellPage__Information__Box
          .SellPage__Information__Box__About
            商品の詳細
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              カテゴリー
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :categories_id, [["テスト1",1],["テスト2",2]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              ブランド
            .SellPage__Information__Box__Inner__SellBox.BoxOption
              任意
            = f.text_field :brand_id, placeholder: "例）シャネル", class: "SellPage__Information__Box__Inner__Form"

          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              商品の状態
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :condition, [["テスト1",1],["テスト2",2]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}

        .SellPage__Information__Box
          .SellPage__Information__Box__About
            配送について
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              配送料の負担
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :delivery_fee, [["テスト1",1],["テスト2",2]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}

          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              発送元の地域
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :shipping_origin, [["テスト1",1],["テスト2",2]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}

          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              発送までの日数
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :days_to_ship, [["テスト1",1],["テスト2",2]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}

        .SellPage__Information__Box
          .SellPage__Information__Box__About
            価格（¥300〜9,999,999）
          .SellPage__Information__Box__Inner.Value
            .Value__Text
              .SellPage__Information__Box__Inner__SellText
                販売価格
              .SellPage__Information__Box__Inner__SellBox
                必須
            .Value__En
              ¥
            .Value__Box
              = f.number_field :price, class: 'SellPage__Information__Box__Inner__Form PriceBoxOption'
          .SellPage__Information__Box__Inner.FeeOption
            .SellPage__Information__Box__Inner__Left
              販売手数料（10%）  
            .SellPage__Information__Box__Inner__Right
              —
          .SellPage__Information__Box__Inner.ProfitOption
            .SellPage__Information__Box__Inner__Left
              販売利益
            .SellPage__Information__Box__Inner__Right
              —
          .SellPage__Information__Box__Inner.BtnOption
            .SellPage__Information__Box__Inner__SellBtn.SellBtnColor
              出品する
          .SellPage__Information__Box__Inner.BtnOption
            .SellPage__Information__Box__Inner__SellBtn.DraftBtnColor
              下書きに保存
          .SellPage__Information__Box__Inner.BackOption
            = link_to "もどる", root_path
          .SellPage__Information__Box__Inner.CommentOption
            禁止されている
            =link_to "行為", "#" 
            および
            =link_to "出品物", "#"
            を必ずご確認ください。
            =link_to "偽ブランド品", "#"
            や
            =link_to "盗品物", "#"
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            =link_to "加盟店規約", "#"
            に同意したことになります。

    = render "devise/shared/devise_footer"