.SellingPageBody
  = render "layouts/notifications"
  = render "devise/shared/devise_header"
  .SellPage
    .SellPage__Information
      = form_with(model: @item, local: true) do |f|
        .SellPage__Information__Box
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              出品画像
            .SellPage__Information__Box__Inner__SellBox
              必須
            .Max
              最大10枚までアップロードできます
            .Upload
              = f.fields_for :images do |i|
                = i.label :image do
                  = image_tag 'photo.png', alt: 'camera', class: "Upload__Image"
                  = i.file_field :image,style: "display:none;"
                  <br>ドラッグアンドドロップ<br>
                  またはクリックしてファイルをアップロード
                
        .SellPage__Information__Box
          .SellPage__Information__Box__Inner.InnerOption
            .SellPage__Information__Box__Inner__SellText
              商品名
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.text_field :product_name, placeholder: "40文字まで", class: "SellPage__Information__Box__Inner__Form"
          
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              商品の説明
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.text_area :description, maxlength: 1000, class: "SellPage__Information__Box__Inner__Form TextareaOption", placeholder: '商品の説明（必須 1000文字以内）'

        .SellPage__Information__Box
          .SellPage__Information__Box__About
            商品の詳細
          #PullDownCategory.SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              カテゴリー
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :category, @category_parent_array, {}, {class: 'SellPage__Information__Box__Inner__Form', id: 'parent_category'}
 
          -# ブランドについては後日実装する為、一旦コメントアウト
          -# .SellPage__Information__Box__Inner
          -#   .SellPage__Information__Box__Inner__SellText
          -#     ブランド
          -#   .SellPage__Information__Box__Inner__SellBox.BoxOption
          -#     任意
          -#   = f.text_field :brand_id, placeholder: "例）シャネル", class: "SellPage__Information__Box__Inner__Form"


          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              商品の状態
            .SellPage__Information__Box__Inner__SellBox
              必須
            -# 値が数字だったので文字列に変更
            = f.select :condition, [["新品、未使用", "新品、未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし", "目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}


        .SellPage__Information__Box
          .SellPage__Information__Box__About
            配送について
          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              配送料の負担
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :delivery_fee, [["送料込み(出品者負担)", "送料込み(出品者負担)"],["着払い(購入者負担)", "着払い(購入者負担)"]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}


          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              発送元の地域
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :shipping_origin,Address.shipping_areas.keys, {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form', id: 'parent_category'}


          .SellPage__Information__Box__Inner
            .SellPage__Information__Box__Inner__SellText
              発送までの日数
            .SellPage__Information__Box__Inner__SellBox
              必須
            = f.select :days_to_ship, [["1~2日で発送", "1~2日で発送"],["2~3日で発送", "2~3日で発送"],["4~7日で発送","4~7日で発送"]], {prompt: "選択してください"}, {class: 'SellPage__Information__Box__Inner__Form'}


        .SellPage__Information__Box
          .SellPage__Information__Box__About
            価格（¥300〜9,999,999）
          .SellPage__Information__Box__Inner.Value
            .Value__Text
              .SellPage__Information__Box__Inner__SellText
                販売価格
              .SellPage__Information__Box__Inner__SellBox
                必須
            .Value__En
              ¥
            .Value__Box
              -# jQueryに入力した値を渡すためにIDを付与
              = f.number_field :price, class: 'SellPage__Information__Box__Inner__Form PriceBoxOption',id: "EntryPrice"
          .SellPage__Information__Box__Inner.FeeOption
            .SellPage__Information__Box__Inner__Left
              販売手数料（10%）  
            .SellPage__Information__Box__Inner__Right
              -# jqueryで判断させるためにIDを付与
              %p#SellCommission —
          .SellPage__Information__Box__Inner.ProfitOption
            .SellPage__Information__Box__Inner__Left
              販売利益
            .SellPage__Information__Box__Inner__Right
              -# jqueryで判断させるためにIDを付与
              %p#SalesProfit —
          .SellPage__Information__Box__Inner.BtnOption
            = f.submit "出品する", class: "SellPage__Information__Box__Inner__SellBtn"

          .SellPage__Information__Box__Inner.BtnOption
            %P.SellPage__Information__Box__Inner__DraftBtn
              下書きに保存

          .SellPage__Information__Box__Inner.BackOption
            = link_to "もどる", root_path
          .SellPage__Information__Box__Inner.CommentOption
            禁止されている
            =link_to "行為", "#" 
            および
            =link_to "出品物", "#"
            を必ずご確認ください。
            =link_to "偽ブランド品", "#"
            や
            =link_to "盗品物", "#"
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            =link_to "加盟店規約", "#"
            に同意したことになります。

    = render "devise/shared/devise_footer"

