= render "share/header"
.ItemBody
  .ItemBox
    .ItemBox__ItemName
      =@item.product_name
    .ItemBox__ImageBody
      .ItemBox__ImageBody__ItemImg
        .ItemBox__ImageBody__ItemImg__Main
          %ul.ItemBox__ImageBody__ItemImg__Main__UpperBox
            %li
              = image_tag @item.images.first.image.url, class: "LargeItemImg"
              %ul.ItemBox__ImageBody__ItemImg__SubImage__UnderBox
                - @item.images.each do |image|
                  %li
                    = image_tag image.image.url, class: "SubItemImg"
            -# = image_tag "#{@image.image}", class: 'SubItemImg'
      .ItemBox__ImageBody__PraceBox
        .ItemBox__ImageBody__PraceBox__Prace
          %p¥
          %p=@item.price 
        .ItemBox__ImageBody__PraceBox__Tax
          %font
          (税込) 送料込み
      .ItemBox__ImageBody__ItemDetail
        =@item.description
      .ItemBox__ImageBody__TableBox
        %table
          %tr
            %th 出品者
            %td=@item.seller_id
          -# =@ship.shipping_family_name
          -# %tr
          -#   %th カテゴリー
          -#   %td 
          -#     = link_to "ベビーキッズ" ,"#"
          -#     %br/
          -#     = link_to "ベビー服(男女兼用) ~95cm" ,"#"
          -#     %br/
          -#     = link_to "アウター"
          -# %tr
          -#   %th ブランド
          -#   %td 
          -# %tr
          -#   %th 商品のサイズ
          -#   %td 
              
          %tr
            %th 商品の状態
            %td=@item.condition
              
          %tr
            %th 配送料の負担
            %td=@item.delivery_fee
              
          %tr
            %th 配送元の地域
            %td=@item.shipping_origin
              
          %tr
            %th 発送日の目安
            %td=@item.days_to_ship
        -# 追加機能時のビュー、ライクボタン、不適切ボタン。
        -# .ItemBox__ImageBody__OptionArea
        -#   .ItemBox__ImageBody__OptionArea__LikeBtn
          -#   = link_to "#",class: '' do
          -#     .ItemBox__ImageBody__OptionArea__LikeBtn__Okini
          -#       =icon('fas','star', class: 'icon')
          -#       お気に入り 0
          -# .ItemBox__ImageBody__OptionArea__OptionalBtn
          -#   = link_to "#",class: '' do
          -#     .ItemBox__ImageBody__OptionArea__OptionalBtn__Hutekisetu
          -#       =icon('fas','flag', class: 'icon')
          -#       不適切な商品の通報
    -# 編集ボタン・削除ボタン追加4/13石崎
    .EditDeleteContent
      - if user_signed_in? && current_user.id == @item.seller_id
        .EditDeleteContent__EditBtn
          .EditDeleteContent__EditBtn__Text 
            = link_to "#",class: 'EditTextBtn' do
              商品の編集
            -# レコード削除確認済み4/14
            = link_to "商品の削除", item_path(@item.id), method: :delete, class: 'DeleteTextBtn' 
      - if user_signed_in? && current_user.id != @item.seller_id
        .BuyBtn
          .BuyBtn__Text
            = link_to "購入画面に進む", "#", class: 'BBtn' 
  .CommentBox
    .CommentBox__CommentArea
      %textarea{class: "CommentBox__CommentArea__Form"}
    .CommentBox__NoticeMsg
      %p
        相手のことを考え丁寧なコメントを心がけましょう。
        %br/
      %p
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br/
    .CommentBox__CommentBtn
      = link_to "#",class: 'CommentBtn' do
        =icon('fas','comment', class: 'icon')
        コメントする
  .UnderLinkBox
    .UnderLinkBox__Links
      = link_to "＜前の商品", "#", class: "LinkText"
      = link_to "次の商品＞", "#", class: "LinkText"
    .UnderLinkBox__ReratedItems
      =link_to "ベビーキッズをもっと見る"
-# = render "share/footer"