= render "share/header"
.ItemBody
  .ItemBox
    .ItemBox__ItemName
      =@item.product_name
    .ItemBox__ImageBody
      .ItemBox__ImageBody__ItemImg
        - @item.images.each_with_index do |photo,index|
          - if index == 0
            .ItemBox__ImageBody__ItemImg__UpperBox
              = image_tag photo.image.url, class: "LargeItemImg"
          - else 
      .ItemBox__ImageBody__ItemImg__UnderBox
        - @item.images.each_with_index do |photo,index|
          - if index != 0
            .ItemBox__ImageBody__ItemImg__UnderBox__List
              = image_tag photo.image.url, class: "SubItemImg"
          - else 
    .ItemBox__PraceBox 
      .ItemBox__PraceBox__Prace
        %p.PriceText¥
        %p.PriceText=@item.price 
      .SmallText (税込) 送料込み
      %p.SmallText=@item.description
      .ItemBox__ImageBody__TableBox
        %table
          %tr
            %th 出品者
            %td=@item.user.nickname
          %tr
            %th カテゴリー
            %td
              - @parents.each do |parent|
                -if @item.category_id == parent.id
                  = link_to '#' do
                    = parent.name
                - parent.children.each do |child|
                  -if @item.category_id == child.id
                    = link_to '#' do
                      = parent.name
                      %br
                    = link_to '#' do
                      = child.name
                      %br
                  - child.children.each do |grandchild|
                    -if @item.category_id == grandchild.id
                      = link_to '#' do
                        = parent.name
                      %br
                      = link_to '#' do
                        = child.name
                      %br
                      = link_to '#' do
                        = grandchild.name
                      %br
              
          %tr
            %th 商品の状態
            %td
              -case @item.condition_id
              -when "0"
                = "新品、未使用"
              -when "1"
                = "未使用に近い"
              -when "2"
                = "目立った傷や汚れなし"
              -when "3"
                = "やや傷や汚れあり"
              -when "4"
                = "傷や汚れあり"
              -when "5"
                = "全体的に状態が悪い"
          %tr
            %th 配送料の負担
            %td
              -case @item.delivery_fee_id 
              -when "0"
                = "送料込み(出品者負担)"
              -when "1"
                = "着払い(購入者負担)"
          %tr
            %th 配送元の地域
            %td=@item.shipping_origin
              
          %tr
            %th 発送日の目安
            %td
              -case @item.days_to_ship_id
              -when "0"
                = "1~2日で発送"
              -when "1"
                = "2~3日で発送"
              -when "2"
                = "4~7日で発送"
        -# 追加機能時のビュー、ライクボタン、不適切ボタン。
        -# .ItemBox__ImageBody__OptionArea
        -#   .ItemBox__ImageBody__OptionArea__LikeBtn
          -#   = link_to "#",class: '' do
          -#     .ItemBox__ImageBody__OptionArea__LikeBtn__Okini
          -#       =icon('fas','star', class: 'icon')
          -#       お気に入り 0
          -# .ItemBox__ImageBody__OptionArea__OptionalBtn
          -#   = link_to "#",class: '' do
          -#     .ItemBox__ImageBody__OptionArea__OptionalBtn__Hutekisetu
          -#       =icon('fas','flag', class: 'icon')
          -#       不適切な商品の通報
    -# 編集ボタン・削除ボタン追加4/13石崎
    -# ログインしているかつ、商品seller_idが一致の場合"商品の編集＆商品の削除"を表示
    .EditDeleteContent
      - if user_signed_in? && current_user.id == @item.seller_id
        .EditDeleteContent__EditBtn
          .EditDeleteContent__EditBtn__Text 
            = link_to edit_item_path,class: 'EditTextBtn' do
              商品の編集
            -# レコード削除確認済み4/14
            = link_to "商品の削除", item_path(@item.id), method: :delete, data: { confirm: "削除しますか？" }, class: 'DeleteTextBtn' 
      -# ログインしているかつログインユーザーがseller_idでない時購入確認ボタンを表示
      - if user_signed_in? && current_user.id != @item.seller_id && @item.buyer_id.blank?
        .BuyBtn
          .BuyBtn__Text
            = link_to "購入画面に進む", buy_confirm_item_path, class: 'BBtn' 
      - elsif @item.buyer_id.present?
        %p !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!SOLD OUT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!i!!!!!!!!!!!!                
  .CommentBox
    .CommentBox__CommentArea
      %textarea{class: "CommentBox__CommentArea__Form"}
    .CommentBox__NoticeMsg
      %p
        相手のことを考え丁寧なコメントを心がけましょう。
        %br/
      %p
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br/
    .CommentBox__CommentBtn
      = link_to "#",class: 'CommentBtn' do
        =icon('fas','comment', class: 'icon')
        コメントする
  .UnderLinkBox
    .UnderLinkBox__Links
      = link_to "＜前の商品", "#", class: "LinkText"
      = link_to "次の商品＞", "#", class: "LinkText"
    .UnderLinkBox__ReratedItems
      -# =link_to "ベビーキッズをもっと見る"
= render "share/footer"